@model IEnumerable<mvcdbfirst.Models.Theater>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheaterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatingCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheaterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatingCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TheaterId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TheaterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
